div(ng-include='"components/navbar/navbar.html"')
.container

  ul.list-group
    h3 Users
    li.list-group-item(ng-repeat='user in users')
      a(href="{{user._id}}/profile")
        strong {{user.name}}
      a.text-muted(ng-click="toggleActivation(user)")  {{user.activeString}} account
      span.text-muted  /
      a.text-muted(href="signup/{{user._id}}/roles")  Edit Roles
      br
      em.text-muted
        {{user.roles.join(', ')}}
      br
      em.text-muted
        {{user.classes.join(', ')}}
      br
      span.text-muted {{user.email}}
      a.trash(ng-click='deleteUser(user)')
        span.glyphicon.glyphicon-trash.pull-right

  div
    a.btn.btn-default.btn-lg.btn-register(href='/signup', ng-show='isAdmin()')
      | New User
  br

  ul.list-group
    h3 Forms
    li.list-group-item(ng-repeat='form in forms')
      a(href='/form/{{form._id}}')
        strong {{form.name}}
        a(href="form/{{form._id}}/data")
          span.text-muted  (View Form Data)
        br
        a(href="form/{{form._id}}/roles")
          span.text-muted Edit Roles
      a.trash(ng-click='deleteForm(form)')
        span.glyphicon.glyphicon-trash.pull-right
  div
    a.btn.btn-default.btn-lg.btn-register(href='/form', ng-show='isAdmin()')
      | New Form
  br

  ul.list-group
    h3 Classes
    li.list-group-item(ng-repeat='class in classes')
      a(href='/class/{{class._id}}')
        strong {{class.name}}
      a.trash(ng-click='deleteClass(class)')
        span.glyphicon.glyphicon-trash.pull-right
  div
    a.btn.btn-default.btn-lg.btn-register(href='/class/new', ng-show='isAdmin()')
      | New Class
  br

  ul.list-group
    h3 Roles
    li.list-group-item(ng-repeat='role in roles')      
      {{role.name}}
      
  div
    a.btn.btn-default.btn-lg.btn-register(href='/roles/new', ng-show='isAdmin()')
      | New Role
  br
  div
    a.btn.btn-default.btn-lg.btn-register(href='/announcements/new', ng-show='isAdmin()')
      | New Announcement
