div(ng-include='"components/navbar/navbar.html"')
.container
  p
    | The delete user and user index api routes are restricted to users with the 'admin' role.
  ul.list-group
    li.list-group-item(ng-repeat='user in users')
      strong {{user.name}}
      br
      span.text-muted {{user.email}}
      a.trash(ng-click='deleteUser(user)')
        span.glyphicon.glyphicon-trash.pull-right

  div
    a.btn.btn-default.btn-lg.btn-register(href='/signup', ng-show='isAdmin()')
      | New User

  ul.list-group
    li.list-group-item(ng-repeat='form in forms')
      a(href='/form/{{form._id}}')
        strong {{form.name}}
        br
        a(href="form/{{form._id}}/roles")
          span.text-muted Edit Roles
      a.trash(ng-click='deleteForm(form)')
        span.glyphicon.glyphicon-trash.pull-right

  div
    a.btn.btn-default.btn-lg.btn-register(href='/form', ng-show='isAdmin()')
      | New Form