.trash { color:rgb(209, 91, 71); }
.face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px;
}

.md-list-item-text > h3, .md-list-item-text > h4, .md-list-item-text > p {
  a {
    color: inherit;
  }
}

img.disabled {
  opacity: 0.4;
}
