div(ng-include='"components/navbar/navbar.html"')
md-content.container
  md-tabs(md-dynamic-height="", md-selected="selectedTabIndex")
    md-tab(label="users")
      md-list
        md-list-item.md-3-line(ng-repeat='user in users', ng-disabled="true")
          img.face(ng-src="{{user.prof.avatar}}", alt="{{user.name}}", ng-class="user.activeClass")
          div.md-list-item-text
            h3 
              a(href="{{user._id}}/profile") {{user.name}}
            h4 {{user.email}}
            p {{user.roles.join(', ')}}
          md-menu
            md-button(ng-click="openMenu($mdOpenMenu, $event)") Options
            md-menu-content
              md-menu-item
                md-button(href='/signup/{{user._id}}/roles') Edit user's roles
              md-menu-item
                md-button(ng-click='toggleActivation(user, $event)') {{user.activeString}} account
              md-menu-item
                md-button.md-warn(ng-click='deleteUser(user, $event)') Delete user
          md-divider
      md-button.md-raised.md-primary(href='/signup', ng-show='isAdmin()') New User
    
    md-tab(label="forms")
      md-list
        md-list-item.md-3-line(ng-repeat='form in forms')
          div.md-list-item-text
            h3
              a(href='/form/{{form._id}}') {{form.name}}
            h4
              a(href="form/{{form._id}}/data") View Form Data
            p {{form.clas}}
          md-menu
            md-button(ng-click="openMenu($mdOpenMenu, $event)") Options
            md-menu-content
              md-menu-item
                md-button(href="form/{{form._id}}/roles") Edit form
              md-menu-item
                md-button(href='/form/{{form._id}}/duplicate') Duplicate form
              md-menu-item
                md-button.md-warn(ng-click="deleteForm(form, $event)") Delete form
          md-divider
      md-button.md-raised.md-primary(href='/form', ng-show='isAdmin()') New Form
          
    md-tab(label="classes")  
      md-list
        md-list-item.md-2-line(ng-repeat='class in classes')
          div.md-list-item-text
            h3
              a(href='/class/{{class._id}}') {{class.name}}
            p  
              a(href="/class/{{class._id}}/edit") Edit Class
          md-button.md-secondary.md-warn(ng-click='deleteClass(class, $event)') Delete class
          md-divider
      md-button.md-raised.md-primary(href='/class/new', ng-show='isAdmin()') New Class

    md-tab(label="roles")
      md-list
        md-list-item.md-2-line(ng-repeat='role in roles')      
          div.md-list-item-text
            h3 {{role.name}}
            p
              a(href="/roles/{{role._id}}/edit") Edit Role
          md-button.md-secondary.md-warn(ng-show="role.canDelete", ng-click='deleteRole(role, $event)') Delete role
          md-button.md-secondary(ng-disabled="true", ng-hide="role.canDelete") Delete role
          md-divider  
      md-button.md-raised.md-primary(href='/roles/new', ng-show='isAdmin()') New Role
    
    md-tab(label="payments")
      form
        md-autocomplete(md-selected-item="payments.selectedUser", md-search-text="payments.searchUser", md-items="item in searchUser(payments.searchUser)", md-item-text="item.name", placeholder="Select user to view their pending payments")
          md-item-template
            span(md-highlight-text="payments.searchUser") {{item.name}}
          md-not-found No matches found.
      md-list
        md-list-item(ng-repeat='payment in payments.selectedUser.payments')
          {{payment.description}}, due on {{payment.dueDate}}
          span.md-secondary
            md-switch(ng-model="payment.paid", ng-click="pay(payments.selectedUser)", aria-label="Toggle 'paid'") {{paidStr(payment)}}
      md-button.md-primary.md-raised(href='/roles/fees', ng-show='isAdmin()')
        | Set payment reminder
          
    md-tab(label="announcements")
      md-list
        md-subheader.md-no-sticky Sent Announcements
        md-list-item.md-2-line(ng-repeat='announcement in announcements')      
          div.md-list-item-text
            h3 &quot;{{announcement.text}}&quot;
            p Sent to {{announcement.recipients.join(', ')}}
          md-divider
      md-button.md-primary.md-raised(href='/announcements/new', ng-show='isAdmin()') New Announcement
