div(ng-include='"components/navbar/navbar.html"')
.container(ng-hide="isFeedback")
  ul.list-group
    li.list-group-item(ng-repeat='data in form.submittedData', ng-show="showData")
      strong
        a(href="/form/{{form._id}}/data/{{data.onTime}}")
          {{data.byName}}
        | 's submission
      em  ({{data.grade}})
      a(href="/form/{{form._id}}/data/{{data.onTime}}/feedback/view", ng-show="showFeedback")
        em  Show feedback
      a.trash(ng-click='deleteData(data)')
        span.glyphicon.glyphicon-trash.pull-right
    div(ng-hide="showData")
      a(href="/form/{{form._id}}/data")
        | Back
      li.list-group-item(ng-repeat='data in data')
        strong {{data.prop}}
        span.text-muted  {{data.val}}
      br
      button.btn.btn-lg.btn-success(ng-show="isInstructor", ng-click="pass()")
        | Pass
      br
      br
      button.btn.btn-lg.btn-danger(ng-show="isInstructor", ng-click="fail()")
        | Fail
.container(ng-show="isFeedback")
  ul.list-group
    li.list-group-item(ng-repeat='data in data')
      strong {{data.prop}}
      span.text-muted  {{data.val}}
