div(ng-include='"components/navbar/navbar.html"')
.controller
  ul.list-group(ng-hide="isFeedback")
    li.list-group-item(ng-repeat='data in form.submittedData', ng-show="showData")
      strong
        a(href="/form/{{form._id}}/data/{{data.onTime}}")
          {{data.byName}}
        | 's submission
      em  ({{data.grade}})
      a(href="/form/{{form._id}}/data/{{data.onTime}}/feedback/view", ng-show="showFeedback")
        em  Show feedback
      a.trash(ng-click='deleteData(data)')
        span.glyphicon.glyphicon-trash.pull-right
    div(ng-hide="showData && showPoll")
      li.list-group-item(ng-repeat='data in data')
        strong {{data.prop}}
        span.text-muted  {{data.val}}
      br
      button.btn.btn-lg.btn-success(ng-show="isInstructor", ng-click="pass()")
        | Pass
      br
      br
      button.btn.btn-lg.btn-danger(ng-show="isInstructor", ng-click="fail()")
        | Fail
  ul.list-group(ng-show="isFeedback")
    li.list-group-item(ng-repeat='data in data')
      strong {{data.prop}}
      span.text-muted  {{data.val}}
  div(ng-show="showPoll")
    canvas#bar.chart.chart-bar(chart-data="data", chart-labels="labels")
  div(ng-show="noData", layout="column", layout-align="center center")
    h1.text-muted
      em No Data.
