div(ng-include='"components/navbar/navbar.html"')
.container
  md-list(ng-controller="FormRolesCtrl", ng-cloak)
    md-subheader(class="md-no-sticky")
      | Choose the start and end dates for the form
    md-list-item
      md-datepicker(ng-model="startDate", md-placeholder="Start date", md-min-date="today")
    md-list-item
      md-datepicker(ng-model="endDate", md-placeholder="End date", md-min-date="startDate")
    md-subheader(class="md-no-sticky")
      | Choose which users are allowed to fill the form
    md-list-item(ng-repeat="role in roles")
      p {{role.name}}
      md-checkbox(class="md-secondary", ng-model="role.permitted")
    md-divider
        
    md-subheader(class="md-no-sticky")
      | Choose which classes are allowed to fill the form
    md-list-item(ng-repeat="class in classes")
      p {{class.name}}
      md-checkbox(class="md-secondary", ng-model="class.permitted")
    md-divider
    
    md-list-item
      p Is this an instructor feedback form?
      md-switch.secondary(ng-model="isFeedback")
    md-list-item(ng-show="showPoll")
      p Is this a poll?
      md-switch.secondary(ng-model="isPoll")
    
    md-button(class="md-raised md-primary", ng-click="saveRoles(roles, classes)")
      | Save
