div(ng-controller='NavbarCtrl', layout="row", ng-show="isLoggedIn()")
  md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id="left")
    md-toolbar(layout="column", layout-align="center center")
      img.avatar(src="{{ getCurrentUser().prof.avatar }}")
      h1
        a(href="/{{getCurrentUser()._id}}/profile") {{ getCurrentUser().name }}
      a(href="#", ng-click="logout()") Logout
    md-content(layout-padding="")
      md-list
        md-list-item
          a(href='/') Home
          md-divider
        md-list-item(ng-show="isAdmin()")
          a(href='/admin') Admin
          md-divider
        md-list-item(layout="row", layout-align="space-around center")
          a(href='{{ getCurrentUser()._id }}/messages', ng-show='newMessage() && isLoggedIn()')
            i.fa.fa-envelope
          a(href='{{ getCurrentUser()._id }}/messages', ng-show='!newMessage() && isLoggedIn()')
            i.fa.fa-envelope-o
          
          a(href='announcements', ng-show='newAnnouncement() && isLoggedIn()')
            i.fa.fa-bell
          a(href='announcements', ng-show='!newAnnouncement() && isLoggedIn()')
            i.fa.fa-bell-o
              
          a(href='/settings')
            span.glyphicon.glyphicon-cog
          md-divider
        md-list
          h6 Notifications
  md-toolbar.top-toolbar
    div.md-toolbar-tools
      md-button.md-icon-button(aria-label="Open menu bar")
        i.fa.fa-bars.pointer(ng-click="toggleMenu()")
      h2 
        span {{heading}}
