div(ng-controller='NavbarCtrl', layout="row", ng-show="isLoggedIn()")
  md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id="left")
    md-toolbar
      md-button.md-icon-button(aria-label="Open menu bar", ng-click="toggleMenu()")
        i.fa.fa-remove.pointer
      md-toolbar(layout="column", layout-align="center center")  
        img.avatar(src="{{ getCurrentUser().prof.avatar }}")
        h1
          a(href="/{{getCurrentUser()._id}}/profile") {{ getCurrentUser().name }}
        a(href="#", ng-click="logout()") Logout
    md-content(layout-padding="")
      md-list
        md-list-item.navbar-list(href='/') Home
          md-divider
        md-list-item.navbar-list(ng-show="isAdmin()", href='/admin') Admin
          md-divider
        md-list-item(layout="row", layout-align="space-around center")
          a(href='{{ getCurrentUser()._id }}/messages', ng-show='newMessage() && isLoggedIn()')
            i.fa.fa-envelope
          a.no-blue(href='{{ getCurrentUser()._id }}/messages', ng-show='!newMessage() && isLoggedIn()')
            i.fa.fa-envelope-o
          
          a(href='announcements', ng-show='newAnnouncement() && isLoggedIn()')
            i.fa.fa-bell
          a.no-blue(href='announcements', ng-show='!newAnnouncement() && isLoggedIn()')
            i.fa.fa-bell-o
              
          a.no-blue(href='/settings')
            span.glyphicon.glyphicon-cog
          md-divider
  md-toolbar.top-toolbar
    div.md-toolbar-tools
      md-button.md-raised(aria-label="Open menu bar", ng-click="toggleMenu()")
        | Menu
      md-button(aria-label="Go back", ng-show="showGoBack", onClick="window.location.replace('/')") Go back to home
      h2 &nbsp;&nbsp;&nbsp;{{heading()}}
