div(ng-include='"components/navbar/navbar.html"')
.container
  form(name='newAnnouncementForm', ng-submit='sendAnnouncement()', novalidate="")
    .md-list(ng-cloak)
      md-subheader(class="md-no-sticky")
        | Select the roles to whom the announcement must be sent
      md-list-item(ng-repeat="role in roles")
        p {{role.name}}
        md-checkbox(class="md-secondary", ng-model="role.selected")
    
    md-input-container.md-block
      label Text
      input(name="announcementTxt", ng-model="text", required="")
      div(ng-messages="newAnnouncementForm.announcementTxt.$error")
        div(ng-message="required") This is required.
    
    md-button.md-primary.md-raised(type='submit')
      | Send Announcement
