div(ng-include='"components/navbar/navbar.html"')

.container(layout="row")
  md-content(flex="27")
    md-list.md-dense
      md-subheader Assignments
      md-list-item(ng-show="noAssignments")
        p You currently don't have any due assignments.
      md-list-item(ng-repeat="form in forms",href='', ng-click="viewForm(form, $index)", ng-class="{active: form == selectedForm}") {{form.name}}
      md-divider
    
    md-list.md-dense(ng-hide="noLockedAssignments")    
      md-subheader Locked Assignments
      md-list-item(ng-repeat="form in disabledForms",href='', ng-click="viewForm(form, $index)", ng-class="{active: form == selectedForm}") {{form.name}}
      md-divider

    md-list.md-dense
      md-subheader Submitted Work
      md-list-item(ng-repeat="submission in submissions", href='', ng-click="viewSubmission(submission, $index)", ng-class="{active: $index == selectedSubmission}") {{submission.name}}
      md-divider

      md-subheader My Classes
      md-list-item(ng-show="noClasses")
        p You are not currently enrolled in a class.
      md-list-item(ng-repeat="class in classes", href='/class/{{class._id}}', ng-hide="noClasses") {{class.name}}
  md-divider
  md-content(flex="70", flex-offset="3", layout="column")
    div(layout="column", layout-align="center center", ng-show="viewWelcome")
      em
        h1.text-muted Welcome.
      p.text-muted Please select an option from the menu on the left.
    md-list.md-dense
      eda-easy-form-viewer(ng-show="form.fieldsModel", eda-easy-form-viewer-data-model="form.dataModel", eda-easy-form-viewer-easy-form-generator-fields-model="form.fieldsModel", eda-easy-form-viewer-submit-button-text="{{ form.btnSubmitText }}", eda-easy-form-viewer-cancel-button-text="{{ form.btnCancelText }}", eda-easy-form-viewer-submit-form-event="submitForm()", eda-easy-form-viewer-cancel-form-event="cancelForm()")
      div(ng-show="submissionFields")
        md-list.md-dense  
          md-list-item.md-2-line(ng-repeat='field in submissionFields')
            div.md-list-item-text
              h3 {{field.prop}}
              p  {{field.val}}
        div(ng-show="feedback", ng-repeat='response in feedback')
          h3 Feedback
          li.list-group-item
            span.text-muted From {{response.byName}}
          li.list-group-item
            strong Comments 
            span.text-muted {{response.Comments}}
